streamlit==1.46.1
pandas==2.3.0
boto3==1.38.45
google-api-python-client==2.174.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.2
openai==1.92.2
beautifulsoup4==4.13.4
requests==2.32.4
python-dateutil==2.9.0.post0
qdrant-client==1.14.3
urllib3==1.26.18 